<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean class="ar.com.zauber.commons.spring.configurers.SystemPropertyPlaceholderConfigurer"/>
        
    <bean name="foo" class="ar.com.zauber.commons.spring.configurers.CheckBean">
        <constructor-arg index="0" value="${spring-test-system}" />
    </bean>
</beans>